#input-select-scrollable,
#input-select{
    @extend .row;
    >div{
        @extend .col-md-5;
    }
}

#input-select-scrollable{
    .list-group {
        max-height: 300px;
        overflow: hidden;
        overflow-y: scroll;
        border-bottom: 1px solid $gray-lighter;
    }
}

