.built-select{
    >div{
        position: relative;
    }
    .list-group{
        position: absolute;
        z-index: 10;
        width:100%;
    }
    .list-group-item:hover,
    .active{
        background-color: $brand-primary;
    }
}

